mat-toolbar {
    position: relative; // Added this to add z-index 
    z-index: 5; // Added this as sidenav was covering the shadow of toolbar. 
    height: 8vh;
}

mat-sidenav-container {
    height: 92vh;
}

.myProfile{
    display: flex;
    align-items: center;
    height: 90%;
    flex-direction: row;
    background-color: grey;
    border-radius: 20%;
    padding: 0.2vw;
    box-sizing: border-box;
    h2{
      font-size: 2vw;
    }
  }
  
  .myProfile > *{
    display: inline-block;
    margin: 0;
  }

  #logo{
    border-radius: 100%;
    height: 100%;
  }